<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 form-group">
					<form name="createTravelForm" ng-controller="createTravelController as createTravelCtrl" ng-submit="createTravelForm.$valid && createTravelCtrl.createTravel()" novalidate>
						<div class="col-xs-3 form-group">
							<input type="text" class="form-control" id="appName" ng-model="createTravelCtrl.travelType" placeholder="Travel Type" />
						</div>
						<div class="col-xs-6 form-group">
							<input type="submit" value = "Create" class ="btn btn-default" />
						</div>
					</form>
				</div>
			</div>
		  <div class="row">
			<div class="table-responsive col-xs-3">
				<table class="table table-striped" ng-controller="travelController as travelCtrl" border='1'>
					<thead>
						<tr>
							<th>Travel Type</th>
						</tr>
					</thead>
					<tbody ng-repeat="travel in travelCtrl.travel">
						<tr>
							<td contenteditable='true'>{{travel.travelTypeName}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		  </div>
		  </div>